
.bg-secondary{

    background-colo: #2c3e50 !important;
    
}
.copy-right{
    background-colo: #1a252f !important;

}
.big-primary{
    background-colo: #1abc9c !important;
}
.nav{
    font-weight: 700;
}

